.popup {
    /** Hide the lightbox */
    /* display: none; */

    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:#333333;
    text-align: center;
    
    /* making the background of the popup dark */

    }

.popup:after {
    content: '';
    display: table;
    clear: both;
}

.popup .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width:500px;
    margin: 2% auto;
    padding:20px;
    background-color:#FFF;
    box-shadow: 0px 1px 26px -3px #777777;
    }

    .popup .title {
        margin:0;
        padding:0 0 10px 0px;
        /* border-bottom:1px #ccc solid; */
        font-size:22px;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
        }

    .popup .content {
        display:block;
        padding:5px 0 0 0;
        font-size:18px;
        line-height:22px;
        text-align: center;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }

    .popup .content .image {
        width: 60%;
        height: auto;
        }
    .popup .content .text {
            padding-top: 10px;
            padding-right: 40px;
            padding-left: 40px;
        }

    .popup .content .button {
        background-color: #2e9f3c;
        color: white;
        font-size: 30px;
        font-style: normal;
        margin: 5px;
        padding: 5px 25px 5px 25px;
        border-radius: 10px;
        text-decoration: none;
        }
    .popup .content .link {
        color: #123d0e;
        text-decoration: none;
        }

    .popup .close {
        float:right;
        display:block;
        text-decoration:none;
        font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:40px;
        color:#858585;
        background-color: transparent;
        border-color: transparent;
        }


/** Show lightbox when mouse leaves the browser window */
/* .popup .open {

    display: block;
    outline: none;
} */

/* .popup{

    display: block;
    width: 550px;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -100px 0 0 -150px;
    border-color: black;
    border-width: thin;
    border-style: solid;
}

.popup-close{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    right: -10px;
    position: absolute;
}

.popup-header{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    text-align: center;
}

.popup-image{
    display: block;
} */
