:root {
  --popup-background-color:;

  --close-button-font-family:Helvetica;
  --close-button-color:;
  --close-button-display:;
  --close-button-font-size:;

  --image-display:;
  --image-width:;

  --header-text-color:;
  --header-text-size:;
  --header-text-font-family:;
  --header-text-display:;

  --body-text-display:;
  --body-text-color:;
  --body-text-size:;
  --body-text-font-family:;

  --button-background-color:;
  --button-text-color:;
  --button-text-size:;
  --button-text-font-family:;
  --button-display:;

  --orig-backround-opacity:,
}

cloudflare-app[app="exit_popup"][popup-visibility="visible"] {
  display: block;
}
cloudflare-app[app="exit_popup"][popup-visibility="hidden"] {
  display: none;
}

.popup_background{
  opacity: var(--orig-background-opacity);
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* prevent from working on mobiles */
@media only screen and (max-width: 760px) {
  .popup { display: none; }
}

.popup {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--theme-color);
    text-align: center;
    }

.box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width:750px;
    margin: 2% auto;
    padding:0px 10px 35px 0;
    background-color:  var(--popup-background-color);
    box-shadow: 0px 1px 26px -3px #777777;
    }
.popup_close {
    float:right;
    /* display:block; */
    margin-top: -15px;
    margin-right: -5px;
    text-decoration:none;
    font-family:var(--close-button-font-family);
    font-size: var(--close-button-font-size);
    color: var(--close-button-color);
    display: var(--close-button-display);
    background-color: transparent;
    border-color: transparent;
    }
.header_content{
  clear: both;
  /* display: inline-block; */
}
/* .popup .image {
    padding-top: 10px;
    width: 80%;
    height: auto;
    } */
.popup_title > h1{
    margin: 5px 0 20px 0;
    padding:0;
    font-size: var(--header-text-size);
    color: var(--header-text-color);
    font-family: var(--header-text-family);
    display: var(--header-text-display);
    }
.content {
    display:block;
    padding:0;
    line-height:22px;
    text-align: center;
    }
.popup_image {
    width: var(--image-width);
    height: auto;
    display: var(--image-display);
    margin-bottom: 20px;
    margin-top: 20px;
    }
.popup_text {
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: var(--body-text-color);
        font-size: var(--body-text-size);
        font-family: var(--body-text-family);
        display: var(--body-text-display);
    }
.popup_button {
    /* background-color: #2e9f3c; */
    display: var(--button-display);
    color: var(--button-text-color);
    font-size: var(--button-text-size);
    background-color: var(--button-background-color);
    font-style: normal;
    font-family: var(--button-text-font-family);
    margin: 5px 0 30px 0;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    }
