:root {
  --close-button-color:;
  --close-button-font-size:;

  --header-text-color:;
  --header-text-size:;
  --header-text-font-family:;

  --body-text-color:;
  --body-text-size:;
  --body-text-font-family:;

  --button-background-color:;
  --button-text-color:;
  --button-text-size:;
  --button-text-font-amily:;

  --orig-backround-opacity:,
}

cloudflare-app[app="exit_popup"][popup-visibility="visible"] {
  display: block;
}
cloudflare-app[app="exit_popup"][popup-visibility="hidden"] {
  display: none;
}

.popup_background{
  opacity: var(--orig-background-opacity);
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.popup {
    /** Hide the lightbox */
    /* display: none; */

    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* color:#333333; */
    color: var(--theme-color);
    text-align: center;
    /* making the background dark */
    /* background-color: #000000;
    opacity: 0.3; */
    }
.popup:after {
    content: '';
    display: table;
    clear: both;
}
.popup .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width:500px;
    margin: 2% auto;
    padding:0px 10px 35px 0;
    background-color:#FFF;
    box-shadow: 0px 1px 26px -3px #777777;
    }
.popup .popup_close {
    float:right;
    /* display:block; */
    margin-top: -15px;
    margin-right: -5px;
    text-decoration:none;
    font-family:var(--close-button-font-family);
    font-size: var(close-button-font-size);
    color: var(--close-button-color);
    background-color: transparent;
    border-color: transparent;
    }
.popup .header_content{
  display: inline-block;
}
.popup .image {
    padding-top: 10px;
    width: 80%;
    height: auto;
    }
.popup .title h1{
    margin: 5px 0 0 0;
    padding:0;
    font-size: var(--header-text-size);
    color: var(--header-text-color);
    font-family: var(--header-text-family);
    }
.popup .content {
    display:block;
    padding:0;
    line-height:22px;
    text-align: center;
    }
.popup .content .image {
    width: 60%;
    height: auto;
    }
.popup .content .text {
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 30px;
        color: var(--body-text-color);
        font-size: var(--body-text-size);
        font-family: var(--body-text-family);
    }
.popup .content .popup_button {
    /* background-color: #2e9f3c; */
    color: var(--button-text-color);
    font-size: var(--button-text-size);
    background-color: var(--button-background-color);
    font-style: normal;
    font-family: var(--button-text-font-family);
    margin: 5px 0 30px 0;
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    text-decoration: none;
    }
.popup .content .link {
    color: #123d0e;
    text-decoration: none;
    }
